[MASTER]
disable =
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0613,  # unused-argument
    R0801,  # duplicate-code
    C0103,  # invalid-name

[FORMAT]
max-line-length = 88

[BASIC]
good-names = i,j,k,ex,Run,_,id
